/* Estilo para a página de erro */
body {
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('assets/ImagemBackground/teste.jpg');
    background-size: cover; /* A imagem cobre toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-attachment: fixed; /* A imagem de fundo fica fixa ao rolar a página */
}

.container {
    text-align: center;
    padding: 40px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    max-width: 600px;
    width: 90%;
    margin: 20px;
}

.error-icon {
    margin-bottom: 20px;
}

.error-icon img {
    width: 100px; /* ajuste o tamanho da imagem de erro */
}

.message {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 30px;
}

/* Adiciona estilos para a data de expiração */
.expiration-date {
    margin-top: 20px;
    font-size: 1.1em;
    color: #333;
    text-align: center;
}


.back-button {
    background-color: #2197f0;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    display: inline-block; /* Garante que o botão se comporte como um bloco em linha */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Suaviza a transição */
}

.back-button:hover {
    background-color: #1879d3;
    transform: scale(1.1); /* Crescimento do botão */
}


/* Footer centralizado no fim da página */
footer {
    padding: 10px;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center; /* Isso centraliza o conteúdo horizontalmente */
    font-size: 0.8em;
}

/* Estilo para a imagem */
footer .imagem_footer img {
    height: 20px; /* Ajusta o tamanho da imagem */
    margin-right: 10px; /* Espaço entre a imagem e o texto */
}
