/* Estilos gerais para o resultado.html */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to left, #acc5e0, #dbe2eb, #acc5e0 );
    font-family: 'Roboto', sans-serif;
    color:#333;
}

.aviso {
    background-color: #f5bc87; /* Cor de fundo do aviso */
    color: #72120b; /* Cor do texto do aviso */
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    text-align: center; 
    margin-bottom: 10px;
}

.modules-container {
    background-color: #eaecec;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    position: relative;
    padding: 20px; /* Adiciona um pouco de preenchimento ao redor dos módulos */
    display: flex;
    flex-direction: column;
    gap: 1px; /* Espaçamento entre os grupos de módulos */
    flex-grow: 1; /* Faz o contêiner crescer conforme o conteúdo */
}


.module-group-title {
    font-size: 1.2em;
    text-align: center;
   
}

.modulosFiscais, .modulosGerenciais, .modulosEspeciais{
    display: flex;
    flex-wrap: wrap;
    border: 3px solid #ccc;
    border-radius: 15px;
    padding: 0;
}

/* Adicional para garantir que os módulos sejam ajustáveis */
.module {
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f1f2f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center; /* Alinha verticalmente o conteúdo dos módulos */
    padding: 1%; /* Espaçamento interno dos módulos */
    box-sizing: border-box; /* Inclui bordas e padding no cálculo da largura e altura do módulo */
    margin: 1%;
}


.status {   
    font-weight: bold; /* Estiliza o texto de status */
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-size: 2em;
    font-weight: 600;
}

h3 {
    font-size: 1.2em;
    text-align: center;
}

p {
    font-size: 1em;
    line-height: 1.6;
}

/* Container principal para o conteúdo */
.result-container {
    padding: auto;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* Flexbox para organizar as seções lado a lado */
.result-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Seções para dados do cliente e verificar envio */
.sections-container {
    margin-right: 20px; /* Espaço entre as seções e os módulos */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 8px;
    border-top: 5px solid #444;
    position: relative;
    width: 100%;
}

footer h3 {
    margin: 10;
    font-size: 1em;
}


/* Estilo para o botão de voltar */
.back-button {
    background: linear-gradient(to bottom, #6200ea, #3700b3);
    color: white;
    text-decoration: none;
    padding: 1%;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    margin: 2% auto; /* Centraliza o botão horizontalmente */
    width: 50%; /* Largura do botão */
    font-size: 1em;
    transition: background-color 0.3s, transform 0.2s;
    display: block; /* Garante que o margin auto funcione */
}

.back-button:hover {
    background: linear-gradient(to bottom, #3700b3, #6200ea);
    transform: scale(1.03);
}

.verificar-backup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px; /* Adiciona um espaçamento abaixo do cabeçalho */
}

#exibeDetalhes {
    background: linear-gradient(to bottom, #6200ea, #3700b3);
    color: white; /* Cor do texto do botão */
    border: none; /* Remove a borda padrão */
    padding: 5% 5% 5% 5%; /* Espaçamento interno do botão */
    border-radius: 12px; /* Bordas arredondadas */
    cursor: pointer; 
    font-size: 0.9em; /* Tamanho da fonte do botão */
    transition: background-color 0.3s, transform 0.2s;
    margin-right: 15px;
}

#exibeDetalhes:hover {
    background: linear-gradient(to bottom, #3700b3, #6200ea);
    transform: scale(1.20);
}

.button-container {
    margin-left: auto; /* Alinha o botão à direita */
    width: 25%
}

.back-button:active, #exibeDetalhes:active {
    transform: scale(0.98);
}

/* Estilo para a seção "VERIFICAR BACKUP" */
.verificar-backup {
    background-color: #c4e1ec;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    margin-top: 15px;
    position: relative;
}

.verificar-cliente {
    background-color: #fff;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    margin-top: 15px;
    position: relative;
}

.verificar-backup-footer {
    display: flex;
    align-items: center;
    margin-right: 5%; 
}

.verificar-backup-footer p {
    margin: 0; /* Remove o espaço padrão dos parágrafos */
}

head{
    position: fixed;
    top: 0;
}

.notification {
    width: 30%;
    height: 10%;
    border-radius: 25%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: white;
    text-align: center;
    margin-left: auto; /* Alinha à direita */
}

.notification.on-time {
    background-color: #28a745;
}

.notification.late {
    background-color: #ffc107;
    color: black;
}

.notification.very-late {
    background-color: #dc3545;
}

.hidden {
    display: none;
}

.blinking {
    animation: blinkingText 1.5s infinite;
}

.avisoTempo {
    color: red; /* Cor do texto em vermelho */
    font-weight: bold; /* Deixa o texto em negrito */
    font-size: 14px; /* Tamanho da fonte */
    text-align: left; /* Centraliza o texto */
    animation: blink 2s infinite; /* Define a animação blink */
}


.status {
    font-size: 1em;
    display: inline-block;
    width: 0.5em; /* Largura do ícone */
}

.status-available {
    background-color: lightgreen; /* Cor de fundo verde claro */
    color: black; /* Cor do texto */
    padding: 5px; /* Adiciona algum preenchimento para melhor visualização */
    border-radius: 3px; /* Opcional: bordas arredondadas */

}

.status-unavailable {
    background-color: lightcoral; /* Cor de fundo vermelho claro */
    color: black; /* Cor do texto */
    padding: 5px; /* Adiciona algum preenchimento para melhor visualização */
    border-radius: 3px; /* Opcional: bordas arredondadas */
}


@keyframes blink {
    0%, 100% { opacity: 1; } /* O texto aparece */
    50% { opacity: 0; } /* O texto some */
}

@keyframes blinkingText {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    .result-content {
        flex-direction: column;
    }

    .verificar-backup {
        margin-top: 15px;
    }

    .notification {
        position: static;
        margin: 10px auto;
        width: 60px;
        height: 60px;
        font-size: 10px;
    }

    .back-button {
        margin-bottom: 20px;
    }
}