/* Estilos gerais para o resultado.html */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to right, #f0f4f8, #e0e6ed);
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
}

h2 {
    font-size: 2em;
    font-weight: 600;
}

p {
    font-size: 1em;
    line-height: 1.6;
}

/* Container principal para o conteúdo */
.result-container {
    flex: 1;
    padding: 15px;
    max-width: 900px;
    margin: 0 auto;
}

/* Contêiner para as seções lado a lado */
.sections-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 15px;
}

/* Estilo para cada seção */
.section {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
}

/* Estilo específico para as seções */
.dados-cliente {
    margin-right: 5px;
}

.verificar-envio {
    margin-left: 5px;
}

/* Estilo para a seção "VERIFICAR BACKUP" */
.verificar-backup {
    background-color: #c4e1ec;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    text-align: center;
    position: relative;
}

head{
    position: fixed;
    top: 0;

}
/* Estilo para o rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 8px;
    border-top: 5px solid #444;
    position: relative;
    width: 100%;
}

footer h3 {
    margin: 10;
    font-size: 1em;
}

/* Estilo para o botão de voltar */
.back-button {
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 8px;
    display: block;
    width: 100%;
    font-size: 0.9em;
}

.back-button:hover {
    background-color: #0056b3;
}

/* Estilo para a notificação do backup */
.notification {
    width: 75px; /* Largura menor */
    height: 75px; /* Altura menor */
    border-radius: 50%; /* Forma circular */
    position: absolute; /* Posiciona de forma absoluta */
    top: 15px; /* Ajusta a posição vertical */
    right: 10px; /* Ajusta a posição horizontal */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px; /* Tamanho da fonte menor */
    color: white;
    text-align: center;
}

.notification.on-time {
    background-color: #28a745;
    color: white;
}

.notification.late {
    background-color: #ffc107;
    color: black;
}

.notification.very-late {
    background-color: #dc3545;
    color: white;
}

.hidden {
    display: none;
}

.blinking {
    animation: blinkingText 1.5s infinite;
}

@keyframes blinkingText {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    .result-content {
        flex-direction: column;
        padding: 10px; /* Adiciona um pouco de padding para evitar que o conteúdo fique colado às bordas */
        flex-wrap: wrap;
    }

    .verificar-backup {
        margin-top: 10px; /* Ajusta a margem superior */
        padding: 10px; /* Adiciona padding para melhorar a aparência em telas pequenas */
    }

    .notification {
        width: 50px; /* Ajusta o tamanho para garantir que se ajuste bem */
        height: 50px;
        font-size: 12px; /* Aumenta um pouco o tamanho da fonte */
    }

    .back-button {
        margin-bottom: 15px; /* Ajusta a margem inferior */
        padding: 10px; /* Aumenta o padding para melhorar a usabilidade em dispositivos móveis */
    }
}
