/* Estilos gerais para o resultado.html */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to right, #f0f4f8, #e0e6ed);
    font-family: 'Roboto', sans-serif;
}

.aviso {
    color: #F44336; /* Cor do texto vermelha */
    border: 2px solid #000; /* Borda preta com 2px de largura */
    padding: 2px 4px; /* Espaçamento interno para que o texto não fique colado na borda */
    border-radius: 4px; /* Arredondar os cantos da borda (opcional) */
    background-color: #fff; /* Cor de fundo branca (opcional, para melhorar a visibilidade) */
}



h1 {
    font-size: 2.5em;
    font-weight: 700;
}

h2 {
    font-size: 2em;
    font-weight: 600;
}

p {
    font-size: 1em;
    line-height: 1.6;
}

/* Container principal para o conteúdo */
.result-container {
    flex: 1;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

/* Flexbox para organizar as seções lado a lado */
.result-content {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

/* Seções para dados do cliente e verificar envio */
.sections-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 8px;
    border-top: 5px solid #444;
    position: fixed;
    bottom: 0;
    margin-top: auto;
    width: 100%;
}

footer h3 {
    margin: 10;
    font-size: 1em;
}


/* Estilo para o botão de voltar */
.back-button {
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 8px;
    display: block;
    width: 100%;
    font-size: 0.9em;
    transition: background-color 0.3s, transform 0.2s;
}

.back-button:hover {
    background-color: #0056b3;
}

.verificar-backup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px; /* Adiciona um espaçamento abaixo do cabeçalho */
}

#exibeDetalhes {
    background-color: #007bff;
    color: white; /* Cor do texto do botão */
    border: none; /* Remove a borda padrão */
    padding: 5% 5% 5% 5%; /* Espaçamento interno do botão */
    border-radius: 12px; /* Bordas arredondadas */
    cursor: pointer; 
    font-size: 0.9em; /* Tamanho da fonte do botão */
    transition: background-color 0.3s, transform 0.2s;
    margin-right: 15px;
}

#exibeDetalhes:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}


.button-container {
    margin-left: auto; /* Alinha o botão à direita */
    width: 25%
}

.back-button:active, #exibeDetalhes:active {
    transform: scale(0.98);
}


/* Estilo para a seção "VERIFICAR BACKUP" */
.verificar-backup {
    background-color: #c4e1ec;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    position: relative;
}

.verificar-backup-footer {
    display: flex;
    align-items: center;
    margin-right: 5%; 
}

.verificar-backup-footer p {
    margin: 0; /* Remove o espaço padrão dos parágrafos */
}

head{
    position: fixed;
    top: 0;

}

.notification {
    width: 30%;
    height: 10%;
    border-radius: 25%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: white;
    text-align: center;
    margin-left: auto; /* Alinha à direita */
    font-family: 'Roboto', sans-serif; /* Adiciona a fonte Roboto */
    font-weight: 300; /* Usa o peso leve da fonte */
}


.notification.on-time {
    background-color: #28a745;
}

.notification.late {
    background-color: #ffc107;
    color: black;
}

.notification.very-late {
    background-color: #dc3545;
}

.hidden {
    display: none;
}

.blinking {
    animation: blinkingText 1.5s infinite;
}

@keyframes blinkingText {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    .result-content {
        flex-direction: column;
    }

    .verificar-backup {
        margin-top: 15px;
    }

    .notification {
        position: static;
        margin: 10px auto;
        width: 60px;
        height: 60px;
        font-size: 10px;
    }

    .back-button {
        margin-bottom: 20px;
    }
}
