/* Estilos gerais para o resultado.html */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to right, #f0f4f8, #e0e6ed);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    color:#333;
}

.modules-container {
    padding: 2px 4px; /* Espaçamento interno para que o texto não fique colado na borda */
    border-radius: 4px; /* Arredondar os cantos da borda (opcional) */
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.modules-container h3 {
    text-align: left; /* Alinhamento do título */
    font-size: 22px; /* Tamanho da fonte */
    margin-bottom: 2%; /* Espaçamento entre o título e os módulos */
    position: relative; /* Necessário para posicionar o aviso */
}

.aviso {
    background-color: #f0b681; /* Cor de fundo do aviso */
    color: #c0790f; /* Cor do texto do aviso */
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
}

.modules-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Três colunas de largura igual */
    gap: 20px; /* Espaçamento entre as caixas de módulo */
}

.modulosFiscais, .modulosGerenciais, .modulosEspeciais {
    border: 3px solid #dddddd;
    border-radius: 10px;
    padding: 5%;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modulosFiscais {
    grid-column: 1; /* Ocupa a primeira coluna */
}

.modulosGerenciais {
    grid-column: 2; /* Ocupa a segunda coluna */
}

.modulosEspeciais {
    grid-column: 3; /* Ocupa a terceira coluna */
}

/* Adicional para garantir que os módulos sejam ajustáveis */
.module {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    box-sizing: border-box; /* Inclui bordas e padding no cálculo da largura e altura */
    overflow: hidden; /* Garante que o conteúdo não ultrapasse o container */
}

.status {
    font-weight: bold; /* Estiliza o texto de status */
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
}

h2 {
    font-size: 2em;
    font-weight: 600;
}

h3 {
    font-size: 1em;
}

p {
    font-size: 1em;
    line-height: 1.6;
}

/* Container principal para o conteúdo */
.result-container {
    flex: 1;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

/* Flexbox para organizar as seções lado a lado */
.result-content {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

/* Seções para dados do cliente e verificar envio */
.sections-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 8px;
    border-top: 5px solid #444;
    width: 100%;
    position: sticky;
    bottom: 0;
}

footer h3 {
    margin: 10;
    font-size: 1em;
}

/* Estilo para o botão de voltar */
.back-button {
    background: linear-gradient(to bottom, #6200ea, #3700b3);
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 0.9em;
    transition: background-color 0.3s, transform 0.2s;
}

.back-button:hover {
    background: linear-gradient(to bottom, #3700b3, #6200ea);
    transform: scale(1.03);
}

.verificar-backup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px; /* Adiciona um espaçamento abaixo do cabeçalho */
}

#exibeDetalhes {
    background: linear-gradient(to bottom, #6200ea, #3700b3);
    color: white; /* Cor do texto do botão */
    border: none; /* Remove a borda padrão */
    padding: 5% 5% 5% 5%; /* Espaçamento interno do botão */
    border-radius: 12px; /* Bordas arredondadas */
    cursor: pointer; 
    font-size: 0.9em; /* Tamanho da fonte do botão */
    transition: background-color 0.3s, transform 0.2s;
    margin-right: 15px;
}

#exibeDetalhes:hover {
    background: linear-gradient(to bottom, #3700b3, #6200ea);
    transform: scale(1.20);
}

.button-container {
    margin-left: auto; /* Alinha o botão à direita */
    width: 25%
}

.back-button:active, #exibeDetalhes:active {
    transform: scale(0.98);
}

/* Estilo para a seção "VERIFICAR BACKUP" */
.verificar-backup {
    background-color: #c4e1ec;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin-top: 15px;
    position: relative;
}

.verificar-cliente {
    padding: 5px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin-top: 15px;
    position: relative;
}

.verificar-backup-footer {
    display: flex;
    align-items: center;
    margin-right: 5%; 
}

.verificar-backup-footer p {
    margin: 0; /* Remove o espaço padrão dos parágrafos */
}

head{
    position: fixed;
    top: 0;
}

.notification {
    width: 30%;
    height: 10%;
    border-radius: 25%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: white;
    text-align: center;
    margin-left: auto; /* Alinha à direita */
}

.notification.on-time {
    background-color: #28a745;
}

.notification.late {
    background-color: #ffc107;
    color: black;
}

.notification.very-late {
    background-color: #dc3545;
}

.hidden {
    display: none;
}

.blinking {
    animation: blinkingText 1.5s infinite;
}

.avisoTempo {
    color: red; /* Cor do texto em vermelho */
    font-weight: bold; /* Deixa o texto em negrito */
    font-size: 14px; /* Tamanho da fonte */
    text-align: left; /* Centraliza o texto */
    animation: blink 2s infinite; /* Define a animação blink */
}


.module p {
    margin: 0; /* Remove margens do parágrafo */
    display: flex;
    align-items: left; /* Alinha verticalmente o texto e o ícone */
    gap: 10px; /* Espaço entre o texto e o ícone */
}

.status {
    font-size: 1.5em; /* Ajuste o tamanho do ícone conforme necessário */
    display: inline-block;
    width: 2.5em; /* Largura do ícone */
    text-align: right;
    box-sizing: border-box; /* Inclui bordas e padding no cálculo da largura e altura do ícone */
}

.status-available {
    color: green;
}

.status-unavailable {
    color: red;
}

@keyframes blink {
    0%, 100% { opacity: 1; } /* O texto aparece */
    50% { opacity: 0; } /* O texto some */
}

@keyframes blinkingText {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    .result-content {
        flex-direction: column;
    }

    .verificar-backup {
        margin-top: 15px;
    }

    .notification {
        position: static;
        margin: 10px auto;
        width: 60px;
        height: 60px;
        font-size: 10px;
    }

    .back-button {
        margin-bottom: 20px;
    }
}