/* Estilos gerais para o resultado.html */
body {
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente os elementos */
    align-items: center;
    min-height: 100vh;
    background-image: url('assets/ImagemBackground/teste.jpg');
    background-size: cover; /* A imagem cobre toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-attachment: fixed; /* A imagem de fundo fica fixa ao rolar a página */
}

/* Estilo para o loading */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-image: url('assets/ImagemBackground/teste.jpg');
    background-size: cover; /* A imagem cobre toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-attachment: fixed; /* A imagem de fundo fica fixa ao rolar a página */
    z-index: 9999;
}

/* Esconde o conteúdo enquanto o loading está ativo */
.result-container {
    display: none;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-right: 15px; /* Espaço à direita do spinner, para afastar da mensagem */
}


/* Estilo da mensagem */
.loading p {
    font-size: 1.5em; /* Tamanho da fonte maior */
    font-weight: bold;
    margin: 0; /* Remove margem padrão */
    display: flex;
    align-items: center; /* Alinha o texto com o spinner */
}

/* Alinha o spinner e a mensagem */
.loading .spinner + p {
    margin-left: 20px; /* Espaço entre o spinner e a mensagem */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
    align-content: center;
}

h2 {
    font-size: 2em;
    font-weight: 600;
}

h3 {
    font-size: 1.2em;
}

p {
    font-size: 1em;
    line-height: 1.6;
}

/* Container principal para o conteúdo */
.result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 15px;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9); /* Adiciona um fundo com transparência */
    border-radius: 10px; /* Adiciona bordas arredondadas */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); /* Sombra para destaque */
}

/* Contêiner para as seções lado a lado */
.sections-container {
    display: flex;  
    gap: 15px;
    margin-bottom: 15px;
}

/* Estilo para cada seção */
.section {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    flex: 1;
}

/* Estilo específico para as seções */
.dados-cliente {
    margin-right: 5px;
}

.verificar-envio {
    margin-left: 5px;
}

.detalhesBkp{
    text-align: center;      /* Centraliza o texto dentro do H3 */
}

.detalhes {
    display: flex;           /* Mantém os detalhes em linha */
    justify-content: center; /* Centraliza os detalhes */
    gap: 10vh;
}

/* Estilo para a seção "VERIFICAR BACKUP" */
.verificar-backup {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 6px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    margin-top: 50px;
    text-align: center;
    position: relative;
    padding: 15px;
}

.backup-header {
    display: flex;
    align-items: center;
    gap: 10vh;
    justify-content: center; /* Alinha o título e a imagem verticalmente */
    width: 100%; /* Usa a largura total disponível */
}

head{
    position: fixed;
    top: 0;

}

/* Footer centralizado no fim da página */
footer {
    padding: 10px;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center; /* Isso centraliza o conteúdo horizontalmente */
    font-size: 0.8em;
}

/* Estilo para a imagem */
footer .imagem_footer img {
    height: 20px; /* Ajusta o tamanho da imagem */
    margin-right: 10px; /* Espaço entre a imagem e o texto */
    user-select: none;
}


.button-container {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: center;
    gap: 15vh;
    margin-top: 3vh;
    width: 100%; /* Garante que o contêiner ocupe a largura completa */
}

/* Campo de entrada de senha */
input[type="text"] {
    width: 90%; /* 100% da largura disponível */
    max-width: 300px; /* Limita o tamanho máximo */
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.resetar-button{
    background-color: #2197f0;
    color: white;
    text-decoration: none;
    border: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s, transform 0.2s;
    width: 50%; /* Define a largura do link e botão para serem iguais */
    text-align: center; /* Centraliza o texto */
    margin-top: 10px;

}

.resetar-button:hover {
    background-color: #1879d3; /* Cor do fundo quando o botão está em hover */
    transform: scale(1.05); /* Aumenta um pouco o tamanho do botão para um efeito de zoom */
}

.resetar-button:active, #exibeModulos:active {
    transform: scale(0.98);
}

.popup {
    display: none; /* Escondido por padrão */
    position: fixed; /* Posição fixa para ocupar toda a tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Z-index alto para aparecer na frente */
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    z-index: 1001; /* Z-index maior que o do fundo */
}

.response-message {
    margin-top: 20px; /* Distância do topo */
    padding: 10px;
    border-radius: 5px;
    display: none; /* Escondido por padrão */
    position: fixed; /* Para que fique fixo na tela */
    top: 20px; /* Distância do topo */
    right: 20px; /* Distância da direita */
    z-index: 1000; /* Alta prioridade para aparecer acima dos outros elementos */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra para um efeito de destaque */
    transform: translateX(100%); /* Começa fora da tela (à direita) */
    opacity: 0; /* Começa invisível */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transição suave */
}

.response-message.show {
    transform: translateX(0); /* Mover para a posição original */
    opacity: 1; /* Fica visível */
}

.success {
    background-color: lightgreen; /* Cor verde clara */
    color: darkgreen; /* Texto em verde escuro */
}

#confirmReset {
    visibility: hidden;  /* Inicialmente invisível, mas o espaço ainda é ocupado */
}

/* Quando a senha for validada, o botão se tornará visível */
#confirmReset.show {
    visibility: visible;
}

#cancelReset {
    visibility: hidden;  /* Inicialmente invisível, mas o espaço ainda é ocupado */
}

/* Quando a senha for validada, o botão se tornará visível */
#cancelReset.show {
    visibility: visible;
}


/* Estilo para o botão de voltar */
.back-button {
    background-color: #2197f0;
    color: white;
    text-decoration: none;
    border: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s, transform 0.2s;
    width: 20%; /* Define a largura do link e botão para serem iguais */
    text-align: center; /* Centraliza o texto */
    margin-top: 10px;
}

.back-button:hover {
    background-color: #1879d3; /* Cor do fundo quando o botão está em hover */
    transform: scale(1.05); /* Aumenta um pouco o tamanho do botão para um efeito de zoom */
}

.back-button:active, #exibeModulos:active {
    transform: scale(0.98);
}

.backup-status p {
    text-align: center;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    margin-left: 15px;
    color: #333; /* Altere a cor conforme o design */
}

.hidden {
    display: none;
}

.blinking {
    animation: blinkingText 1.5s infinite;
}

.avisoTempo {
    color: red; /* Cor do texto em vermelho */
    font-weight: bold; /* Deixa o texto em negrito */
    font-size: 14px; /* Tamanho da fonte */
    text-align: left; /* Centraliza o texto */
    animation: blink 2s infinite; /* Define a animação blink */
    margin-bottom: 10px;
}

.aviso {
    background-color: #f5bc87; /* Cor de fundo do aviso */
    color: #72120b; /* Cor do texto do aviso */
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    text-align: center; 
    margin-bottom: 10px;
}

@keyframes blink {
    0%, 100% { opacity: 1; } /* O texto aparece */
    50% { opacity: 0; } /* O texto some */
}

@keyframes blinkingText {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .result-container {
        padding: 10px;
        width: 90vw; /* Permitir que o container ocupe toda a largura */
    }

    .sections-container {
        flex-direction: column; /* Alinha as seções verticalmente */
        gap: 10px; /* Reduz o espaçamento entre as seções */
        align-items: center;
        text-align: center;
    }

    .detalhes{
        flex-direction: column;
        padding: auto;
        gap: 1px;
    }

    .section {
        margin-bottom: 15px; /* Adiciona espaço entre as seções */
    }

    h1 {
        font-size: 1.8em; /* Diminui o tamanho do título em telas menores */
    }

    h2 {
        font-size: 1.5em; /* Ajusta o subtítulo */
    }

    p {
        font-size: 0.9em; /* Diminui o texto para não ocupar muito espaço */
    }

    .verificar-backup {
        margin-top: 10px;
        padding: 8px;
    }


    .back-button, #exibeModulos {
        width: 100%; /* Garante que os botões ocupem toda a largura em telas pequenas */
        margin-bottom: 10px;
    }

    .footer{
        position: relative;
    }

    .resetar-button{
        width: 80%; /* Define a largura do link e botão para serem iguais */
        text-align: center; /* Centraliza o texto */
    }
}
