/* Estilos Globais */
body {
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente os elementos */
    align-items: center;
    min-height: 100vh;
    background-image: url('assets/ImagemBackground/teste.jpg');
    background-size: cover; /* A imagem cobre toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-attachment: fixed; /* A imagem de fundo fica fixa ao rolar a página */
}

.suggestions-button {
    text-align: center;
    margin-top: 20px;
}

.suggestions-button button {
    background-color: #5662f6; /* Cor típica do WhatsApp */
    color: #fff;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 14px;
    font-family: 'Comfortaa', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.suggestions-button button:hover {
    background-color: #3f4598; /* Tom mais escuro para hover */
    transform: scale(1.05); /* Aumenta um pouco o tamanho do botão para um efeito de zoom */
}


/* Container centralizado */
.container {
    display: flex;
    gap: 3%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 30px;
    max-width: 600px;
    min-width: 300px;
    width: 100%;
    padding: 4% 3% 3% 5%;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* Estilo da Imagem */
.image {
    width: 80%; /* Para garantir que a imagem ocupe 100% da largura disponível em telas menores */
    max-width: 250px; /* Limita o tamanho da imagem */
    margin-bottom: 20px; /* Espaçamento entre a imagem e o formulário */
    user-select: none;
}

.image img {
    max-width: 100%; /* Garante que a imagem não ultrapasse o container */
    height: auto;
}

/* Centralizar e estilizar o formulário */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px; /* Limita o tamanho em telas grandes */
    padding: 4%;
    border-radius: 20px;
}

/* Campo de entrada de CNPJ */
input[type="text"] {
    width: 90%; /* 100% da largura disponível */
    max-width: 300px; /* Limita o tamanho máximo */
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.consultButtons{
    display: flex;
    gap: 10px;
}

/* Botão de consultar */
button#consultarModulosBtn {
    width: 100%; /* Botão ocupa a largura disponível */
    max-width: 110px; /* Limita o tamanho do botão em telas maiores */
    background-color: #2197f0;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 500; /* Comfortaa-Medium */
    text-align: center;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Suaviza a transição */
}

button#consultarModulosBtn:hover {
    background-color: #1879d3; /* Cor do fundo quando o botão está em hover */
    transform: scale(1.05); /* Aumenta um pouco o tamanho do botão para um efeito de zoom */
}

button#consultaBKP {
    width: 100%; /* Botão ocupa a largura disponível */
    max-width: 100px; /* Limita o tamanho do botão em telas maiores */
    background-color: #2197f0;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 500; /* Comfortaa-Medium */
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Suaviza a transição */
}

button#consultaBKP:hover {
    background-color: #1879d3; /* Cor do fundo quando o botão está em hover */
    transform: scale(1.05); /* Aumenta um pouco o tamanho do botão para um efeito de zoom */
}

/* Estilo para a dica de ferramenta (tooltip) */
button#consultaBKP .tooltip {
    visibility: hidden; /* Inicialmente escondido */
    width: 180px; /* Largura da dica */
    background-color: #555; /* Cor de fundo da dica */
    color: #fff; /* Cor do texto */
    text-align: center; /* Alinha o texto no centro */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 5px 0; /* Padding dentro da dica */
    position: absolute; /* Para posicioná-la em relação ao botão */
    z-index: 1; /* Garante que a dica fique acima do botão */
    bottom: 125%; /* Coloca a dica acima do botão */
    left: 50%; /* Centraliza a dica horizontalmente */
    margin-left: -90px; /* Ajusta a posição para que a dica fique centralizada */
    opacity: 0; /* Começa invisível */
    transition: opacity 0.3s; /* Animação suave para transição de visibilidade */
}

/* Mostrar a dica ao passar o mouse sobre o botão */
button#consultaBKP:hover .tooltip {
    visibility: visible; /* Torna a dica visível */
    opacity: 1; /* Torna a dica totalmente opaca */
}

/* Estilo do botão de alternância */
.toggle-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.botão_trocar_sistema {
    width: 50px;
    height: 25px;
    background-color: #2197f0;
    border-radius: 12px;
    margin-bottom: 3%;
    border:none;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.botão_trocar_sistema:hover{
    background-color: #1879d3; /* Cor do fundo quando o botão está em hover */
    transform: scale(1.05); /* Aumenta um pouco o tamanho do botão para um efeito de zoom */
}

.botão_trocar_sistema::before {
    content: '';
    width: 25px;
    height: 25px;
    background-color: rgb(231, 227, 227);
    border-color: #333;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
}

.botão_trocar_sistema.active {
    background-color: #135588;
}

.botão_trocar_sistema.active::before {
    transform: translateX(25px);
}

/* Texto ao lado do botão de alternância */
#toggleText {
    margin-left: 10px;
    margin-bottom: 3%;
    font-size: 1em;
    color: #000000;
    font-weight: 800; /* Comfortaa-Regular */
}

#errorMessage {
    display: block;
    padding: 10px;
    margin: 10px 0;
    background-color: #fddede; /* Cor de fundo suave para erros */
    color: #d8000c; /* Cor do texto para destacar a mensagem de erro */
    border: 1px solid #d8000c; /* Borda para reforçar a mensagem */
    border-radius: 4px; /* Bordas arredondadas para um visual mais suave */
    font-family: 'Arial', sans-serif; /* Fonte padrão e legível */
    font-size: 1em; /* Tamanho da fonte */
    line-height: 1.4; /* Espaçamento entre linhas */
    text-align: center; /* Centraliza o texto */
    opacity: 0; /* Inicialmente invisível */
    transform: translateY(-10px); /* Ajuste na posição inicial para suavizar a animação */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Ajuste na transição */
    visibility: hidden; /* Tornar o elemento não interativo enquanto oculto */
}

/* Animação de aparecer com deslizar para cima */
#errorMessage.visible {
    opacity: 1; /* Torna visível */
    transform: translateY(0); /* Move para a posição original */
    visibility: visible; /* Exibe o elemento */
}


.footer{
    user-select: none;
}

/* Media Queries para telas menores */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Empilha os elementos em vez de colocá-los lado a lado */
        padding: 10px;
        width: 80%; /* Garante que o container ocupe 90% da largura da tela */
        box-sizing: border-box; /* Impede que o padding aumente o tamanho do container */
        margin-top: 0; /* Menos espaço em cima */
        box-shadow: 0 0 15px rgba(0, 0, 0, 0);
        min-height: 100vh; /* Garante que o container ocupe a altura total da tela */
    }

    h2{
        font-size: 2.5em;
    }

    .suggestions-button button {

        border-radius: 5px;
        padding: 10px 20px;
        font-size: 20px;
        width: 80%;
    }

    footer{
        bottom: 0;
    }

    form {
        width: 90%;
        max-width: none; /* Remove o limite de largura máxima */
        padding: 10px;
    }

    input[type="text"] {
        width: 100%;
        font-size: 1.5em;
    }

    button#consultarModulosBtn {
        width: 100%;
        font-size: 1.5em;
        max-width: 200px;
    }

    button#consultaBKP {
        width: 100%;
        font-size: 1.5em;
        max-width: 200px;
    }

    .image {
        width: 100%;
    }

    footer .imagem_footer img {
        margin-bottom: 14px;
        position: relative;
        bottom: 0;
        left: 0;
    }
}
